@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: rgb(17, 17, 17);
  --bg-opaque: rgb(17, 17, 17, 0.25);
  --background-light: rgb(35, 35, 35);
  --background-dark: rgb(8, 8, 8);

  --text: rgb(235, 236, 243);
  --brand: #bef264;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  cursor: url("https://cdn.custom-cursor.com/db/18387/32/disney-big-hero-6-baymax-pointer.png"),
    auto;
}

.cursor-pointer-s {
  cursor: url("https://cdn.custom-cursor.com/db/18388/32/disney-big-hero-6-baymax-cursor.png"),
    default !important;
}

a {
  cursor: url("https://cdn.custom-cursor.com/db/18388/32/disney-big-hero-6-baymax-cursor.png"),
    default !important;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
